recursive-include robocasa *.xml
recursive-include robocasa *.stl
recursive-include robocasa *.obj
recursive-include robocasa *.mtl
recursive-include robocasa *.png
recursive-include robocasa *.json
recursive-include robocasa *.yaml
